{% extends 'base.html.twig' %}


{% block title %}  {% endblock %}

{% block body %}

    <h1 class="text-3xl font-bold underline text-red-500">
        ICI APPARAIT LE CONTENU DE NOTRE PAGE HOME (templates/home/index.html.twig)
    </h1>

{% endblock %}