{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}


{% block body %}

    <h1 class="text-3xl font-bold underline text-blue-500">
        ICI APPARAIT LE CONTENU DE NOTRE PAGE TEST (templates/home/test.html.twig)
    </h1>

{% endblock %}



