<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <h1> Ce titre est généré par BASE.HTML.TWIG !</h1>
        <h2>La page <code>/base.html.twig</code> est un modèle de base dans un projet Symfony.</h2>
        <h3>Elle définit la structure commune à l'ensemble du site web, y compris les éléments tels que l'en-tête, le pied de page, les menus de navigation, et d'autres éléments récurrents.</h3>
        <h4>L'importance de l'extension {<code>% extends 'base.html.twig' %</code>} réside dans le fait qu'elle permet à d'autres pages, comme <code>/home/index.html.twig</code>, d'étendre cette structure de base.</h4>


        {% block body %}



        {% endblock %}
    </body>
</html>



